:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-primary-dark: #2071da;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5; /*1.5 of current font size*/
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
}

.link-arrow:hover::after {
  margin-left: 12px;
  transition: margin 0.2s ease-in;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 25px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  width: auto;
  display: inline-block;
}
.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
.badge--primary-dark {
  background-color: var(--color-primary-dark);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  padding-left: 0;
  list-style: none;
  color: var(--color-headings);
  text-transform: capitalize;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  display: flex;

  width: 64px;
  height: 64px;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.btn {
  font-size: 1.8rem;
  padding: 2rem 3rem;
  border-radius: 40px;
  outline: none;
  border-width: 0;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
  margin: 1rem 0;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}

.btn--primary:hover,
.btn--secondary:hover,
.btn--accent:hover {
  /* background-color: rgba(37, 132, 255, 0.8); */
  filter: opacity(0.7);
  color: black;
  /* background-color: lighten(0.8); */
}

.btn--block {
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input */

.input {
  border-radius: 30px;
  border: 1px solid gray;
  color: var(--color-headings);
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  outline: none;
}

::placeholder {
  color: #cdcbd7;
}

/* Input group*/
.input-group {
  width: auto;
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding-left: 2rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.plans-container {
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 2rem;
}

.plan {
  max-width: 350px;
  min-height: 400px;
  max-height: 80%;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s;
  box-shadow: 2px 2px 5px 1px #727272;
}
.plan:hover {
  box-shadow: 5px 5px 10px 5px #727272;
}

.plan--popular {
  max-height: 100%;
}

.plan--popular .card__header {
  background-color: var(--color-primary);
}
.plan--popular .card__header::before {
  content: url(../images/popular.png);
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0px;
}

.card__header {
  background-color: var(--color-secondary);
  margin: 0;
  padding: 2rem 3rem;
  border-radius: 20px 20px 0 0px;
  color: #fff;
  position: relative;
}

.plan__name {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #fff;
}

.plan__price {
  margin-top: 2rem;
  font-size: 4rem;
}
.plan__billing-cycle {
  color: #c5c5c6;
}
.plan__description {
  color: #c5c5c6;
  font-size: 1.8rem;
}

.plan__body {
  padding-left: 1rem;
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}
.media__image {
  margin-top: 1rem;
}
.media__body {
  padding: 0 2rem;
}
