:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-primary-dark: #2071da;
  --color--body--darker: #5c5577;
  --color--accent-dark: #801b02;
}
*,
::after,
::before {
  box-sizing: border-box;
}
/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5; /*1.5 of current font size*/
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
}

.link-arrow:hover::after {
  margin-left: 12px;
  transition: margin 0.2s ease-in;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 25px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  width: auto;
  display: inline-block;
}
.badge--primary {
  background-color: var(--color-primary);
  color: white;
}
.badge--primary-dark {
  background-color: var(--color-primary-dark);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  padding-left: 0;
  list-style: none;
  color: var(--color-headings);
  text-transform: capitalize;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--accent {
  fill: var(--color-accent);
}
.icon--white {
  fill: white;
}

.icon-container {
  display: flex;

  width: 64px;
  height: 64px;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon-container--quote {
  background-color: #e5e5e5;
}

/* Buttons */

.btn {
  font-size: 1.8rem;
  padding: 2rem 3rem;
  border-radius: 40px;
  outline: none;
  border-width: 0;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
  margin: 1rem auto;
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--accent-dark {
  background-color: #801b02;
  color: white;
}

.btn--primary:hover,
.btn--secondary:hover,
.btn--accent:hover {
  /* background-color: rgba(37, 132, 255, 0.8); */
  filter: opacity(0.7);
  color: black;
  /* background-color: lighten(0.8); */
}

.btn--block {
  display: inline-block;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Input */

.input {
  border-radius: 30px;
  border: 1px solid gray;
  color: var(--color-headings);
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  outline: none;
}

::placeholder {
  color: #cdcbd7;
}

/* Input group*/
.input-group {
  width: auto;
  border: 1px solid gray;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding-left: 2rem;
}
.input-group .btn {
  margin: 4px;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Cards */

.plans-container {
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  row-gap: 3rem;
  column-gap: 2rem;
}

.plan {
  max-width: 350px;
  min-height: 400px;
  max-height: 80%;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  transition: 0.4s;
  box-shadow: 2px 2px 5px 1px #727272;
}
.plan:hover {
  box-shadow: 5px 5px 10px 5px #727272;
}

.plan--popular {
  max-height: 100%;
}

.plan--popular .card__header {
  background-color: var(--color-primary);
}
.plan--popular .card__header::before {
  content: url(../images/popular.png);
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 0px;
}

.card__header {
  background-color: var(--color-secondary);
  margin: 0;
  padding: 2rem 3rem;
  border-radius: 20px 20px 0 0px;
  color: #fff;
  position: relative;
}

.plan__name {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #fff;
}

.plan__price {
  margin-top: 2rem;
  font-size: 4rem;
}
.plan__billing-cycle {
  color: #c5c5c6;
}
.plan__description {
  color: #c5c5c6;
  font-size: 1.8rem;
}

.plan__body {
  padding-left: 1rem;
}

/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}
.media__image {
  margin-top: 1rem;
}
.media__body {
  padding: 0 2rem;
}

/* Quotes */

.quote {
  font-size: 2rem;
  font-style: italic;
  color: var(--color--body--darker);
  line-height: 2.8rem;
  margin-left: 4rem;
}
.quote__text {
  padding-right: 2rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 1.5rem;
  font-style: normal;
}

.quote__company {
  font-size: 1.8rem;
  opacity: 60%;
  font-style: normal;
}

.quote__icon {
  width: 30px;
}

@media screen and (min-width: 1024px) {
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__icon {
    width: 30px;
  }
  .quote__company {
    font-size: 1.4rem;
  }
}

/* Grids */

.grid {
  display: grid;
}
/* 
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/* Testimonial */
.testimonial {
  padding: 0;
}

.testimonial__image {
  margin-bottom: 3rem;
  position: relative;

  padding-right: 32px;
  padding-left: 32px;
}
.testimonial__image > img {
  width: 100%;
}

.testimonial__text {
  line-height: 1.2;
}

.testimonial__image > .icon-container {
  position: absolute;
  right: 0px;
  top: 50px;
}

/* Callout */

.callout {
  padding: 3rem;
  margin: 2rem 4rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px #727272;
}

.callout--primary {
  background-color: var(--color-primary);
}
.callout--accent {
  background-color: var(--color-accent);
}

.callout__heading {
  color: #fff;
}
.callout__text {
  color: #fff;
}

.callout__btn {
  text-align: center;
  align-self: center;
  padding: 2rem 5rem;
}

@media screen and (min-width: 768px) {
  .callout__btn {
    justify-self: start;
  }
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/* Collapsible */
.collapsible {
  margin: 1rem;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
.collapsible--expanded .collapsible__icon .icon-container {
  transform: rotate(90deg);
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.collapsible__icon .icon-container {
  margin-top: 2.5rem;
  transform: rotate(0deg);
  transition: all 0.3s;
}

/* List */

.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  align-items: center;
  margin: 0;
}

.nav__toggler {
  margin: 2rem 2rem;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.nav__list {
  width: 100%;
  margin: 0;
  list-style-type: none;
}

.list__item {
  border-bottom: 1px solid #6c6c6c;
}
.item__anchor {
  color: rgb(161, 161, 161);
}
.list__item a {
  transition: color 0.2s;
}
.list__item a:hover {
  color: white;
}
.collapsible--expanded .nav__toggler {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__list {
    width: auto;
    display: flex;
    justify-content: end;
    max-height: 100%;
    opacity: 1;
  }
  .item__anchor {
    font-size: 2rem;
  }
  .list__item {
    margin-right: 1rem;
    padding-right: 4rem;
    border-bottom: none;
  }
  .nav__toggler {
    max-width: 0;
  }
}
