<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__body">
      <h3 class="callout__heading">Ready to get started?</h3>
      <p class="callout__text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, quasi.
        Omnis earum similique exercitationem voluptatem! Nam sint quod debitis
        distinctio.
      </p>
    </div>
    <div class="callout__btn">
      <a href="#" class="btn btn--secondary">Get started</a>
    </div>
  </div>
</div>
