<div class="nav collapsible collapsible--expanded">
  <a href="/"><img src="/images/logo.png" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="nav__list collapsible__content">
    <li class="list__item"><a class="item__anchor" href="#">Hosting</a></li>
    <li class="list__item"><a class="item__anchor" href="#">VPS</a></li>
    <li class="list__item"><a class="item__anchor" href="#">Domain</a></li>
    <li class="list__item"><a class="item__anchor" href="#">Pricing</a></li>
  </ul>
</div>
